In [1]:
from bs4 import BeautifulSoup as bs
from splinter import Browser
import os
import pandas as pd
import time
import pymongo

In [3]:
executable_path = {"executable_path": "C:/webdrivers/chromedriver"}
browser = Browser("chrome", **executable_path, headless = False)

###### Scrape the [NASA Mars News Site](https://mars.nasa.gov/news/) 
* Collect the latest News Title and Paragraph Text.
* Assign the text to variables that you can reference later.

In [4]:
browser.visit('https://mars.nasa.gov/news/')
time.sleep(5)
Martian_News = browser.html
Martian_Soup = bs(Martian_News,'html.parser')

News_Title = Martian_Soup.find_all('div', attrs={'class':'content_title'})[1].get_text()
News_Article = Martian_Soup.find('div', attrs={'class':'article_teaser_body'}).get_text()

print('Most Recent Martian News:',News_Title)
print('Latest News Article:',News_Article)

Most Recent Martian News: NASA Invites Public to Share Excitement of Mars 2020 Perseverance Rover Launch
Latest News Article: There are lots of ways to participate in the historic event, which is targeted for July 30.

###### JPL Mars Space Images

Visit the url for JPL Featured Space Image [here](https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars).

  * Use splinter to navigate the site and find the image url for the current Featured Mars Image and assign the url string to a variable called `featured_image_url`.

  * Make sure to find the image url to the full size `.jpg` image.

  * Make sure to save a complete url string for this image.

In [5]:
Featured_Space_Image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars"
browser.visit(Featured_Space_Image_url)
image_html = browser.html
image_soup = bs(image_html, 'html.parser')

url2 = image_soup.find('article',class_='carousel_item')['style'][23:-3]
image_url = "https://www.jpl.nasa.gov/spaceimages/?search=&category=featured#submit"

browser.visit(image_url)
featured_image_url = 'https://www.jpl.nasa.gov' + url2
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/wallpaper/PIA20316-1920x1200.jpg'

###### Mars Weather
 Visit the Mars Weather twitter account [here](https://twitter.com/marswxreport?lang=en)
   * Scrape the latest Mars weather tweet from the page.
   * Save the tweet text for the weather report as a variable called

In [72]:
#     Twitter_url = 'https://twitter.com/marswxreport?lang=en'
#     browser.visit(Twitter_url)
#     time.sleep(5)
#     html = browser.html
#     soup = BeautifulSoup(html, 'lxml')
#     mars_weather = soup.find_all('span')
#     for i in mars_weather:
#         if 'InSight sol' in i.text:
#             mars_weather.append(i.text)

In [6]:
Twitter_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(Twitter_url)
time.sleep(5)
# twtr_html = browser.html
# twtr_soup = bs(twtr_html, 'html.parser')

In [9]:
twtr_html = browser.html
twtr_soup = bs(twtr_html, 'html.parser')

In [24]:
# Find all elements that contain tweets
tweets = twtr_soup.find_all('span', class_='css-901oao css-16my406 r-1qd0xha r-ad9z0x r-bcqeeo r-qvutc0')
twtr_weather =[]
for i in tweets:
    if "sol" in i.text:
        twtr_weather.append(i.text)

twtr_weather[0].replace("\n", " ")

'InSight sol 588 (2020-07-22) low -89.2ºC (-128.6ºF) high -11.0ºC (12.2ºF) winds from the W at 5.7 m/s (12.7 mph) gusting to 18.9 m/s (42.3 mph) pressure at 7.90 hPa'

In [25]:
twtr_weather

['InSight sol 588 (2020-07-22) low -89.2ºC (-128.6ºF) high -11.0ºC (12.2ºF)\nwinds from the W at 5.7 m/s (12.7 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 7.90 hPa',
 'InSight sol 587 (2020-07-21) low -89.2ºC (-128.5ºF) high -9.8ºC (14.3ºF)\nwinds from the WNW at 5.3 m/s (11.8 mph) gusting to 14.1 m/s (31.5 mph)\npressure at 7.80 hPa',
 'InSight sol 586 (2020-07-20) low -131.8ºC (-205.2ºF) high -7.1ºC (19.2ºF)\nwinds from the WNW at 3.8 m/s (8.4 mph) gusting to 13.2 m/s (29.6 mph)\npressure at 7.90 hPa',
 'InSight sol 585 (2020-07-19) low -89.2ºC (-128.5ºF) high -12.0ºC (10.3ºF)\nwinds from the W at 6.2 m/s (13.9 mph) gusting to 18.9 m/s (42.3 mph)\npressure at 7.80 hPa',
 'InSight sol 584 (2020-07-18) low -89.1ºC (-128.4ºF) high -12.3ºC (9.9ºF)\nwinds from the WNW at 5.8 m/s (12.9 mph) gusting to 16.0 m/s (35.8 mph)\npressure at 7.80 hPa',
 'InSight sol 583 (2020-07-17) low -89.0ºC (-128.3ºF) high -7.2ºC (19.0ºF)\nwinds from the W at 5.4 m/s (12.1 mph) gusting to 13.4 m/s (30.1 mph)\npressure at 7.80 hPa']

In [16]:
facts_url = 'http://space-facts.com/mars/'
mars_facts = pd.read_html(facts_url)
mars_df = mars_facts[0]
mars_df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [17]:
mars_df.columns = ['Description','Value']

mars_df.set_index('Description', inplace=True)

data = mars_df.to_html() 
print(data)

mars_df

<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Value</th>
    </tr>
    <tr>
      <th>Description</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Equatorial Diameter:</th>
      <td>6,792 km</td>
    </tr>
    <tr>
      <th>Polar Diameter:</th>
      <td>6,752 km</td>
    </tr>
    <tr>
      <th>Mass:</th>
      <td>6.39 × 10^23 kg (0.11 Earths)</td>
    </tr>
    <tr>
      <th>Moons:</th>
      <td>2 (Phobos &amp; Deimos)</td>
    </tr>
    <tr>
      <th>Orbit Distance:</th>
      <td>227,943,824 km (1.38 AU)</td>
    </tr>
    <tr>
      <th>Orbit Period:</th>
      <td>687 days (1.9 years)</td>
    </tr>
    <tr>
      <th>Surface Temperature:</th>
      <td>-87 to -5 °C</td>
    </tr>
    <tr>
      <th>First Record:</th>
      <td>2nd millennium BC</td>
    </tr>
    <tr>
      <th>Recorded By:</th>
      <td>Egyptian astronomers</td>
    </tr>
  </tbody>
</table>

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [18]:
mars_df.columns = ['Description','Value']

mars_df.set_index('Description', inplace=True)

data = mars_df.to_html() 
print(data)

mars_df

ValueError: Length mismatch: Expected axis has 1 elements, new values have 2 elements

In [19]:
hemispheres_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'

browser.visit(hemispheres_url)

In [20]:
items = soup.find_all('div', class_='item')

hemispheres = []

hemispheres_main_url = 'https://astrogeology.usgs.gov'

for item in items: 
   
    title = item.find('h3').text
    image_url = item.find('a', class_='itemLink product-item')['href']
    browser.visit(hemispheres_main_url + image_url)
    image_html = browser.html

    soup = bs(image_html, 'html.parser')
    image_url = hemispheres_main_url + soup.find('img', class_='wide-image')['src']
    hemispheres.append({"Title" : title, "Image_URL" : image_url})
# hemispheres

NameError: name 'soup' is not defined

In [21]:
hemispheres

NameError: name 'hemispheres' is not defined